* 
{
  background-color: lightgray; /* Hier wird ein grauer Hintergrund gesetzt */
  margin-left: 20px;       /*  Diese zwei Befehle setzen links und rechts einen Setienabstand von 20px */
  margin-right: 20px;
}

p 
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*Hier wird die Schriftart gewechselt*/
}

h1 
{
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  border: 1px solid black;
}

h2
{
color: midnightblue;
font-style: oblique;
font-size: xx-large;
font-family: serif;
}

img 
{
margin-right: 100px;   /* Dies bindet das Bild an die rechte Bildschirmseite mit einem Abstand von 100px */
margin-left: 100px;
margin-top: 120px;
margin-bottom: 120px;
float: right;
}

table,
td 
{
    border: 1px solid #333;
    text-align: center;
    margin: 0 auto;
}

.zentriert
{ 
  text-align:center;
}


thead,
tfoot {
    background-color: #333;
    color: #fff;
}



.songlink
{
  border: 2px;
  border-width: 2px;
  border: 2px solid green
  background-color: gray;
}

/*Beim Überfahren mit der Maus wird die Hintergrundfarbe geändert*/
.songlink.Button:hover 
{  
  background-color: black;      
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  }
  
  .grid-item {
    font-size: 30px;
    }

        @media only screen and (min-width: 768px) {
          .lyrics1 { grid-column: 1 / span 2; grid-row: 1 ; }
          .bild1 { grid-column: 3 / span 1; grid-row: 1; }
          .lyrics2 { grid-column: 1 / span 2; grid-row: 2; }
          .bild2 { grid-column: 3 / span 1; grid-row: 2; }
          .lyrics3 { grid-column: 1 / span 2; grid-row: 3; }
          .bild3 { grid-column: 3 / span 1; grid-row: 3; }
          .lyrics4 { grid-column: 1 / span 2; grid-row: 4; }          
          .bild4 { grid-column: 3 / span 1; grid-row: 4; }
    }