* 
{
  background-color: lightgray; /* Hier wird ein grauer Hintergrund gesetzt */
  margin-left: 20px;       /*  Diese zwei Befehle setzen links und rechts einen Setienabstand von 20px */
  margin-right: 20px;
}

p 
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*Hier wird die Schriftart gewechselt*/
}

h1 
{
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  border: 1px solid black;
}

h2
{
color: midnightblue;
font-style: oblique;
font-size: xx-large;
font-family: serif;
}

img 
{
margin-right: 100px;   /* Dies bindet das Bild an die rechte Bildschirmseite mit einem Abstand von 100px */
margin-top: 120px;
margin-bottom: 120px;
float: right;
}

table,
td 
{
    border: 1px solid #333;
    text-align: center;
    margin: 0 auto;
}

.zentriert
{ 
  text-align:center;
}


thead,
tfoot {
    background-color: #333;
    color: #fff;
}




.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  }
  
  .grid-item {
    font-size: 30px;
    }

    @media only screen and (min-width: 768px) {
        .bild1 { grid-column: 1 / span 12; grid-row: 1; }
        .lyrics1 { grid-column: 1 / span 6; grid-row: 2; }
        .bild2 { grid-column: 7 / span 6; grid-row: 2; }
        .lyrics2 { grid-column: 1 / span 3; grid-row: 3; }
        .bild3 { grid-column: 4 / span 6; grid-row: 3; }
        .lyrics3 { grid-column: 10 / span 3; grid-row: 3; }
        .bild4 { grid-column: 1 / span 4; grid-row: 4; }
        .lyrics4 { grid-column: 5 / span 8; grid-row: 4; }           
    }